body.post-type-archive-diary div {
  
  .archive-diary-featured-image img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}

.diary-banner {
  border-top: 3px solid lighten(@link-color, 25%);
  border-bottom: 3px solid lighten(@link-color, 25%);
  padding: 25px;
  margin-bottom: 25px;

}
