body.page-template-template-home {

  article,
  section {
    .make-sm-column(@home-sm-article-columns);
    .make-md-column(@home-md-article-columns);
    .make-lg-column(@home-lg-article-columns);
  }

  .home-aside-left {
    .make-sm-column(@home-sm-aside-left-columns);
    .make-md-column(@home-md-aside-left-columns);
    .make-lg-column(@home-lg-aside-left-columns);
  }

  .home-aside-right {
    .make-sm-column(@home-sm-aside-right-columns);
    .make-md-column(@home-md-aside-right-columns);
    .make-lg-column(@home-lg-aside-right-columns);
    background: blue;

  }

  .entry-content {
    padding-top: 25px;

  }

  section {

    #recent-posts {

      list-style-type: none; 
      padding: 0;

      li.recent-post-item {
        display: inline-block;
        float: left;
        width: 50%;
        position: relative;

        img {
          width: 100%;
          overflow: hidden;
          // height: 100%;
        }

        span {
          display: block;
          color: white;
          background: rgba(0, 0, 0, 0.8);
          position: absolute;
          bottom: 0;
          left: 0;
          padding: 15px 5px;
          width: 100%;
        }

      }

    }
  }

  footer {
    margin-top: 50px;
    height: 50px;
    border-top: 1px solid #ccc;
  }
}

