body.page-template-template-home {

  /*

      Featured article

   */

  section.featured-post {

    div {

      position: relative;
      width: 49%;
      display: inline-block;
      margin: 0 0 15px 0;

      &.featured-item {
        width: 100%;
      }

      &.latest-article-right {
        float: right;
      }

      img {
        max-width: 100%;
        height: auto;
      }

      .featured-header {
        background: rgba(0, 0, 0, 0.8);
        bottom: 0;
        color: white;
        left: 0;
        margin: 0;
        padding: 5px;
        position: absolute;

        h2 {
          display: inline-block;
          margin: 0;
          font-size: large;
        }

        span.post-date {
          color: #ccc;
          display: block;
          font-size: small;
          margin: 0;
          padding: 0;
        }
      }

    }
  }

  /*

      Sidebar - right

  */

  aside.home-aside-right {

    padding: 0;

    .google-large-rectangle {
      // background-color: #eef;
      // width: 300px;
      // height: 600px;
    }
  }

  /*

      Articles

  */

  section.articles {

    // .make-sm-column(@home-sm-article-columns);
    // .make-md-column(@home-md-article-columns);
    // .make-lg-column(@home-lg-article-columns);

    margin-top: 25px;

    #recent-posts {

      list-style-type: none; 
      padding: 0;

      li.recent-post-item {
        display: inline-block;
        float: left;
        width: 24%;
        position: relative;

        margin: 5px;

        img {
          width: 100%;
          height: auto;
          overflow: hidden;
        }

        span {
          display: block;
          color: white;
          background: rgba(0, 0, 0, 0.8);
          position: absolute;
          bottom: 0;
          left: 0;
          padding: 15px 5px;
          width: 100%;
        }

      }

    }
  }

  footer {
    margin-top: 50px;
    height: 50px;
    border-top: 1px solid #ccc;
  }
}

