body.page-template-template-home {

  /*

      Featured article

   */

  section.featured-post {

    .make-sm-column(@home-sm-featured-columns);
    .make-md-column(@home-md-featured-columns);
    .make-lg-column(@home-lg-featured-columns);

    margin: 0 auto;
    float: none;
    padding: 0;

    div {

      /* The thumbnail maximum is 600px */
      max-width: 600px;

      img {
        max-width: 100%;
      }

      .featured-header {
        margin: 0;
      }
    }
  }

  /*

      Sidebar - right

  */

  aside.home-aside-right {
    .make-sm-column(@home-sm-aside-right-columns);
    .make-md-column(@home-md-aside-right-columns);
    .make-lg-column(@home-lg-aside-right-columns);

    padding: 0;

    @media(min-width: @screen-md) {
      padding: 5px;
      padding-left: 15px;
    }

    h3 {
      margin: 0;
    }

    ul {
      list-style: none;
      padding: 5px;

      li {
        padding: 10px 0 0 0;

        a {
          display: block;
          padding: 0;
        }

        span.post-date {
          font-size: small;
          color: #ccc;
        }
      }
    }
  }

  /*

      Sidebar - left

  */


  aside.home-aside-left {
    
    /* home-aside-left is hidden on xs and sm */

    .make-md-column(@home-md-aside-left-columns);
    .make-lg-column(@home-lg-aside-left-columns);

  }

  /*

      Articles

  */

  section.articles {

    .make-sm-column(@home-sm-article-columns);
    .make-md-column(@home-md-article-columns);
    .make-lg-column(@home-lg-article-columns);

    #recent-posts {

      list-style-type: none; 
      padding: 0;

      li.recent-post-item {
        display: inline-block;
        float: left;
        width: 24%;
        position: relative;

        margin: 5px;

        img {
          width: 100%;
          height: auto;
          overflow: hidden;
        }

        span {
          display: block;
          color: white;
          background: rgba(0, 0, 0, 0.8);
          position: absolute;
          bottom: 0;
          left: 0;
          padding: 15px 5px;
          width: 100%;
        }

      }

    }
  }

  footer {
    margin-top: 50px;
    height: 50px;
    border-top: 1px solid #ccc;
  }
}

