// Grid settings
// -------------------------

@home-sm-columns:       12;
@home-md-columns:       12;
@home-lg-columns:       12;

@article-sm-columns:       10;
@article-md-columns:       9;
@article-lg-columns:       10;

@sidebar-sm-columns:       12;
@sidebar-md-columns:       3;
@sidebar-lg-columns:       2;


// Link colors
// -------------------------

@link-color: #062;

// Top navigation bar
// -------------------------

@navbar-default-bg:                 #ffffff;

@navbar-default-link-active-bg:     #ffffff;
@navbar-default-link-active-color:  #fa0;

// Glyphicons path
// -------------------------

@icon-font-path:        "../vendor/bootstrap/fonts/";
