
main {
  font-family: 'Raleway';
  font-size: 1.25em;
  line-height: 1.8em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway';
}

p {
  margin-bottom: 30px;
}

h2 {
  margin: 25px 0 20px;
}


.clear {
  clear: both;
}

body.single-post,
body.single-pt_attraction,
body.page {

  .article-featured-image {

    position: relative;
    max-width: 1170px;
    margin: 0 auto;

    img {
      display: block;
      margin: 0 auto;
      width: 100%;
      height: 100%;
    }

    .image-title-box {
      text-align: center;
      background: rgba(0,0,0,0.8);
      position: absolute;
      color: white;
      top: 3em;
      left: 100px;
      padding: 20px 20px;
      margin: 0;

      @media (max-width: @screen-md) {
        left: 50%;
        transform: translateX(-50%);
      }

      @media (max-width: @screen-xs) {
        position: relative;
        top: 0;
        padding: 5px 20px;
      }

      h1 {
        font-size: xx-large;
        font-weight: bold;
        margin-top: 0;
      }

      h2 {
        margin: 0;
        text-transform: uppercase;
        font-size: xx-small;
      }

    }
  }

  div.article-content {
    margin-top: 35px;
  }

  aside {
    .make-sm-column(@post-article-sidebar-sm-columns);
    .make-md-column(@post-article-sidebar-md-columns);
    .make-lg-column(@post-article-sidebar-lg-columns);
  }

  article {

    .make-sm-column(@post-article-sm-columns);
    .make-md-column(@post-article-md-columns);
    .make-lg-column(@post-article-lg-columns);

    h1 {
      margin-bottom: 25px;
    }

  }
}

.post-caption {
  float: right;
  font-size: small;
}

article {
  img {
    width: 100%;
    max-width: 100%;

    height: auto;
  }
}
