/* Basic font */
main {
  font-family: 'Roboto Regular';
  font-size: 1.4em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway';
}


/* Image-title-box is used on pages and posts */

.image-title-box {
  text-align: center;
  background: rgba(0,0,0,0.8);
  position: absolute;
  color: white;
  top: 3em;
  left: 100px;
  padding: 20px 20px;
  margin: 0;

  @media (max-width: @screen-md) {
    left: 50%;
    transform: translateX(-50%);
  }

  @media (max-width: @screen-xs) {
    position: relative;
    top: 0;
    padding: 5px 20px;
  }

  h1 {
    font-size: xx-large;
    font-weight: bold;
    margin-top: 0;
  }

  h2 {
    margin: 0;
    text-transform: uppercase;
    font-size: xx-small;
  }

}

