header.navbar {

  form.search-form
  {
    margin: 0;
    @media (max-width: @bp-larger-than-phablet) {
      display: none;
      float: none;
    }
  }

  // height: 50px;
  padding: 15px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;

  a.navbar-brand {
    text-decoration: none;
    font-size: x-large;
    line-height: 50px;
    color: #1e7eab;
  }
}
