
#single-page-header {
  width: 100%;
  position: relative;
  margin-bottom: 50px;

  img {
    max-width: 100%;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
  }

  .subheader-credit {
    float: right;
    font-size: smaller;
  }
}

