.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }

/* Basic font */
main {
  font-family: 'Roboto Regular';
  font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Regular';
}

#single-post-header {
  width: 100%;
  position: relative;
  margin-bottom: 50px;

  img {
    max-width: 100%;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
  }

  .entry-title {
    // font-family: 'GreatVibes';
    // text-transform: lowercase;
    text-align: center;
    background: rgba(0,0,0,0.8);
    position: absolute;
    color: white;
    top: 3em;
    left: 210px;
    padding: 20px 20px;
    margin: 0;

    h1 {
      font-size: xx-large;
      font-weight: bold;
      margin-top: 0;
    }

    h2 {
      margin: 0;
      text-transform: uppercase;
      font-size: xx-small;
    }

  }

  .subheader-credit {
    float: right;
    font-size: smaller;
  }
}

article {

  .make-sm-column(@article-sm-columns);
  .make-md-column(@article-md-columns);
  .make-lg-column(@article-lg-columns);

  .entry-content {

  }

  .attraction-list {
    
  }
}
