.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }

body.single-post {

  #single-post-featured-image {

    position: relative;
    max-width: 1170px;
    margin: 0 auto;

    img {
      display: block;
      margin: 0 auto;
      width: 100%;
      height: 100%;
    }

  }

  div#single-post-content {
    margin-top: 35px;
  }

  aside {
    .make-sm-column(@post-article-sidebar-sm-columns);
    .make-md-column(@post-article-sidebar-md-columns);
    .make-lg-column(@post-article-sidebar-lg-columns);
  }

  article {

    .make-sm-column(@post-article-sm-columns);
    .make-md-column(@post-article-md-columns);
    .make-lg-column(@post-article-lg-columns);

    h1 {
      margin-bottom: 25px;
    }

  }
}
