@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-medium.ttf') format("truetype");
}

@font-face {
  font-family: 'Roboto Regular';
  src: url('../fonts/Roboto-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'GreatVibes';
  src: url('../fonts/GreatVibes-Regular.otf') format("opentype");
}

